<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goście</title>
</head>
<style>
    table th, td {
        border: 1px solid black;
    }
</style>
<body>
    <h2>Lista gości</h2>

    <table>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Adres email</th>
        </tr>
        
        {% for guest in guests %}
        <tr>
            {% for data in guest %}
            <td>{{ data }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>